@page
@model KoiShow.WebApp.Pages.TypicalModel
@{
	ViewData["Title"] = "Typical";
}
<div class="top1">
	<div class=" top1_2023">
		<img src="#" alt="Alternate Text" />
		<p></p>
		<p></p>
		<p></p>
	</div>
	<div class=" top1_2023">
		<img src="#" alt="Alternate Text" />
		<p></p>
		<p></p>
		<p></p>
	</div>

	<div class=" top1_2023">
		<img src="#" alt="Alternate Text" />
		<p></p>
		<p></p>
		<p></p>
	</div>
</div>
<style>
	.top1_2023{
		width:30%;
		display: inline-block;
	}
</style>