@page
@model KoiShow.WebApp.Pages.Account.EditModel

<h4>Koishowaccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Koishowaccount.AccountId" />
            <div class="form-group">
                <label asp-for="Koishowaccount.Username" class="control-label"></label>
                <input asp-for="Koishowaccount.Username" class="form-control" />
                <span asp-validation-for="Koishowaccount.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koishowaccount.Password" class="control-label"></label>
                <input asp-for="Koishowaccount.Password" class="form-control" />
                <span asp-validation-for="Koishowaccount.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koishowaccount.Role" class="control-label"></label>
                <input asp-for="Koishowaccount.Role" class="form-control" />
                <span asp-validation-for="Koishowaccount.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
