@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div style="margin-bottom: 80px;
    text-align: justify;
    margin-bottom: 80px;
    width: 90%;">
    <!-- Thông tin về cuộc thi -->
    <h2 style="margin-top:50px">Thông tin về cuộc thi<br /></h2>
    <div>
        <h3>Thể lệ cuộc thi</h3>
        <p>1. Thành phần tham gia thi cá gồm tất cả anh em chơi Koi tại Việt Nam.</p>
        <p>2. Người dự thi phải đăng nhập nếu có tài khoản và đăng ký nếu chưa có tài khoản để có thể đăng ký tham gia cuộc thi.</p>
        <p>Mọi chi tiết vui lòng liên hệ Email: <strong>koishow@znavn.com</strong></p>
        <p>Thông tin đăng kí qua email:</p>
        <ul>
            <li>Họ và tên</li>
            <li>Nick sinh hoạt diễn đàn zna (nếu có)</li>
            <li>Địa chỉ</li>
            <li>Điện thoại</li>
            <li>Phân loại cá dự thi</li>
            <li>Kích thước cá</li>
            <li>Giới tính (đối với cá trên 50cm)</li>

        </ul>
        <p>+ Khuyến khích gửi hình cá chụp trong thau xanh dương.</p>

        <h4>Lệ phí thuê tank</h4>
        <p>TANK LỚN 1M7 là 1,5 triệu (gồm 1 con đầu tiên)</p>
        <p>TANK NHỎ 1M3 là 1,2 triệu (gồm 1 con đầu tiên)</p>
        <p>Tài khoản quỹ ZNAVN:</p>
        <ul>
            <li>Số tài khoản: <strong>0362549487 - MB Bank</strong></li>
            <li>Tên tài khoản: <strong>Trần Bảo Long</strong></li>
            <li>Ngân hàng: <strong>NGÂN HÀNG Quân Đội MB Bank</strong></li>
        </ul>
    </div>

    <!-- Giải thưởng -->
    <h2>Giải thưởng<br /></h2>
    <div>
        <h3>Cơ cấu giải thưởng</h3>
        <ul>
            <li>Grand Champion</li>
            <li>Grand Champion B (Non-Gosanke)</li>
            <li>Reserve Grand Champion</li>
            <li>Mature Champion (từ >60cm đến 70cm)</li>
            <li>Adult Champion (từ >50cm đến 60cm)</li>
            <li>Young Champion (từ >40cm đến 50cm)</li>
            <li>Junior Champion (từ >30cm đến 40cm)</li>
            <li>Baby Champion (từ > 20cm đến 30cm)</li>
            <li>Mini Champion (từ 20cm trở xuống)</li>
        </ul>
        <p>Chúng tôi có tổng cộng 9 giải Champions và 13 giải Best In Size cho các phân khúc kích cỡ từ 20 BU đến 80 BU.</p>
    </div>

    <!-- Tiêu chí chấm điểm -->
    <h2>Tiêu chí chấm điểm<br /></h2>
    <div>
        <p>Koi phải đạt yêu cầu về sức khỏe, kích cỡ và phân loại phù hợp. Các tiêu chí như màu sắc, hình dáng, và tổng thể sẽ được giám khảo xem xét kỹ lưỡng.</p>
        <img src="/images/istockphoto-187958220-1024x1024.jpg" alt="Alternate Text" style="width:50%;"/>
    </div>

    <!-- Tin tức -->
    <h2>Tin tức<br /></h2>
    <div>
        <h3>Lịch trình của Koi Show</h3>
        <ul>
            <li>Ngày nhận cá: 06/09/2013, từ 14g đến 18g</li>
            <li>Giờ cho khách tham quan: Thứ Bảy 07/09/2013, từ 10g đến 17g và Chủ Nhật 08/09/2025, từ 9g đến 14g</li>
            <li>Chấm thi: Thứ Bảy 07/09/2025, 10g</li>
            <li>Chấm Tategoi Koi: Chủ Nhật 08/09/2025, 11g30</li>
            <li>Bế mạc: Chủ Nhật 08/09/2025, 14g</li>
        </ul>
        <h3>Những quy định chung</h3>
        <ul>
            <li>Người tham gia thi cá cần PHẢI cho cá trong hồ của mình nhịn ăn ít nhất là 5-7 ngày trước khi đi thi.</li>
            <li>Mỗi người dự thi sẽ được chỉ định hồ nhựa của họ từ nhóm BTC. Sẽ có người đăng ký đến 2-3 hồ nhựa, nên người tham dự phải xem kỹ hồ nhựa của mình là số mấy trước khi cho cá vào.</li>
            <li>Người tham dự không được tự ý mở thùng và cho cá của mình vào hồ nhựa cho đến khi có được sự chấp thuận từ BTC. Chủ sở hữu hoặc đại lý, tiệm, cửa hàng kinh doanh Koi phải ở lại với cá cho đến khi tất cả các cá trong bao được thả vào hồ và xong phần đo đạc (benching).</li>
            <li>Để đảm bảo công bằng khi đo cá, chủ nhân của cá tham gia phải có mặt trong lúc đo đạc (benching) và phân loại cá của họ.</li>
            <li>Hình ảnh của mỗi cá sẽ được chụp trong lúc đo đạc (benching) để tiện cho ban giám khảo khi chấm thi.</li>
            <li>Tất cả các cá dự thi "bắt buộc" phải được để lại triển lãm dự thi cho đến khi kết thúc chương trình vào chủ nhật (08/09/2013) sau 14:00. Nếu nhà bạn ở xa hơn 200 km từ nơi tổ chức show và bạn cần phải bắt cá về sớm vào ngày chủ nhật, xin vui lòng liên lạc với BTC trước khi đăng ký dự thi.</li>
            <li>Tất cả các biện pháp phòng ngừa an toàn cho cá cần thiết sẽ được thực hiện với giám sát 24/24 bởi BTC để bảo vệ an toàn cho koi trong quá trình triển lãm. Tất cả người tham gia trong chương trình triển lãm thi đấu phải đồng ý với BTC về việc cá bị hư hại hoặc bất cứ tổn thất thương tích nào xảy ra cho cá trong quá trình lưu ở nơi triển lãm thi đấu.</li>
            <li>BTC sẽ làm mọi cách tốt nhất, an toàn nhất cho tất cả cá được cho vào triển lãm từ thứ sáu 14:00 cho đến sau khi buổi bế mạc của ngày chủ nhật.</li>
            <li>Địa điểm tổ chức tại công viên Tao Đàn, có mái vòm che an toàn.</li>
            <li>BTC sẽ có trên 10 thành viên trong hội và tổ bảo vệ (được thuê) để giám sát 24/24 trong quá trình triển lãm thi đấu Koi.</li>
            <li>Kết thúc chương trình sẽ diễn ra vào chủ nhật lúc 14:00. Thành viên tham gia triển lãm thi đấu phải có mặt tại thời điểm đó để đem cá về. Để tránh nhầm lẫn Koi, tất cả cá chỉ được phép bắt đem về khi có sự đồng ý của BTC.</li>
        </ul>

        <h3>Phân Loại Và Kích Cỡ </h3>
        <ul>
            <li>Kích cỡ Koi: Sẽ có tất cả 13 phân khúc kích cỡ khi chấm thi. Kích cỡ đầu tiên là từ size 20BU, 25BU, 30BU, 35BU, 40BU, 45BU,…75BU, 80BU; các kích thước sau đó sẽ tăng theo khoảng cách 5cm, và kích thước lớn nhất là trên 80cm. Không có giới hạn kích thước về việc Koi quá nhỏ hoặc quá lớn.</li>
            <li>Gin Rin: Chỉ có một dòng vảy Gin Rin. Koi có vảy Gin Rin có thể được nhập vào lớp Gin Rin hoặc lớp không Gin Rin. Khi cho cá vào hồ nhựa, người tham gia phải xác nhận rõ với BTC về phân loại vảy cá để tránh nhầm lẫn. Người dự thi không được thay đổi sau khi đã quyết định phân loại và đo kích cỡ của cá.</li>
            <li>Doitsu: Koi dự thi có thể chọn vào hai phân loại là không vảy và có vảy. Ngoại lệ là Shusui, phải được nhập vào lớp Asagi / Shusui; Kumonryu phải được nhập vào lớp Kawarigoi. Không được thay đổi phân loại vảy sau khi người dự thi đã quyết định.</li>
        </ul>
        <h3>Cơ Cấu Giải Thưởng : </h3>
        <ul>
            <li>Kích cỡ Koi: Sẽ có tất cả 13 phân khúc kích cỡ khi chấm thi. Kích cỡ đầu tiên là từ size 20BU, 25BU, 30BU, 35BU, 40BU, 45BU,…75BU, 80BU; các kích thước sau đó sẽ tăng theo khoảng cách 5cm, và kích thước lớn nhất là trên 80cm. Không có giới hạn kích thước về việc Koi quá nhỏ hoặc quá lớn.</li>
            <li>Gin Rin: Chỉ có một dòng vảy Gin Rin. Koi có vảy Gin Rin có thể được nhập vào lớp Gin Rin hoặc lớp không Gin Rin. Khi cho cá vào hồ nhựa, người tham gia phải xác nhận rõ với BTC về phân loại vảy cá để tránh nhầm lẫn. Người dự thi không được thay đổi sau khi đã quyết định phân loại và đo kích cỡ của cá.</li>
            <li>Doitsu: Koi dự thi có thể chọn vào hai phân loại là không vảy và có vảy. Ngoại lệ là Shusui, phải được nhập vào lớp Asagi / Shusui; Kumonryu phải được nhập vào lớp Kawarigoi. Không được thay đổi phân loại vảy sau khi người dự thi đã quyết định.</li>
        </ul>

        <ul>
            <li>
                Tác giả đạt giải cuộc thi sẽ được trao giấy chứng nhận của Ban tổ chức, Giấy khen của Giám đốc Sở KH&CN Hà Tĩnh và mức thưởng với cơ cấu như sau:
                <ul>
                    <li>1 giải nhất trị giá 20 triệu đồng</li>
                    <li>2 giải nhì tổng trị giá 30 triệu đồng</li>
                    <li>3 giải ba tổng trị giá 30 triệu đồng</li>
                    <li>4 giải khuyến khích tổng trị giá 20 triệu đồng</li>
                </ul>
            </li>
            <li>Những dự án vào vòng chung kết nhưng không đạt giải sẽ được trao giấy chứng nhận dự án tiềm năng và mức thưởng 1 triệu đồng.</li>
            <li>Các ý tưởng, dự án khởi nghiệp đạt giải sẽ được giới thiệu tham gia các cuộc thi khởi nghiệp cấp vùng và quốc gia do Bộ KH&CN tổ chức. Ngoài ra, sẽ được giới thiệu đến các nhà đầu tư và tham gia miễn phí các khóa đào tạo khởi nghiệp do tỉnh Hà Tĩnh và Bộ KH&CN tổ chức. Các dự án cũng được ưu tiên xét chọn hỗ trợ theo kế hoạch hỗ trợ khởi nghiệp đổi mới sáng tạo của tỉnh.</li>
            <li>Đối tượng tham gia dự thi là các tổ chức, tác giả, nhóm tác giả, doanh nghiệp (trừ người nước ngoài) có ý tưởng, sản phẩm, dự án khởi nghiệp sáng tạo được phát triển trên địa bàn tỉnh Hà Tĩnh. Đối với doanh nghiệp khởi nghiệp, thời gian đăng ký hoạt động không quá 5 năm kể từ khi được cấp giấy chứng nhận đăng ký doanh nghiệp lần đầu. Mỗi tác giả hoặc nhóm có thể tham gia một hoặc nhiều dự án. Mỗi nhóm cá nhân không quá 5 thành viên.</li>
            <li>Tác giả dự thi có thể đăng ký ý tưởng, sản phẩm, hoặc dự án khởi nghiệp sáng tạo thuộc tất cả các ngành nghề, lĩnh vực mà pháp luật không cấm, miễn là được triển khai trên địa bàn tỉnh Hà Tĩnh.</li>
            <li>Cuộc thi nhằm nâng cao nhận thức, khơi dậy tinh thần khởi nghiệp sáng tạo, và góp phần triển khai phong trào khởi nghiệp sáng tạo, hỗ trợ cho các ý tưởng, dự án phục vụ phát triển kinh tế - xã hội. Từ đó, cuộc thi giúp tìm kiếm, tôn vinh và hỗ trợ các dự án tiềm năng trong giai đoạn khởi nghiệp.</li>
            <li>Dự kiến, vòng sơ khảo sẽ diễn ra vào tháng 10/2021 và vòng chung kết sẽ diễn ra trong tháng 11/2025.</li>
        </ul>

        <p><strong>Lưu ý quan trọng:</strong> Cá của bạn cần được kiểm tra sức khỏe kỹ lưỡng trước khi tham gia, nếu phát hiện bất kỳ dấu hiệu bất thường, cần báo ngay cho ban tổ chức.</p>>
    </div>
</div>